* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C3E50; 
    color: #ECF0F1; 
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    color: #E74C3C; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 2rem;
    }
}
